@import "../gridsettings";

body {
  font-family: sans-serif;
  margin: 0;
}

.content {
  background-color: #2079b2;
  color: #fff;
  padding-bottom: 1em;
  padding-top: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  text-align: center;
}

.row {
  margin-bottom: $grid-gutter;
}

